<h2 mat-dialog-title>Timer Plan Maintenance</h2>

<form [formGroup]="form">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Plan Name" formControlName="Name" />
  </mat-form-field>
  <mat-checkbox formControlName="Active">Active</mat-checkbox>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="(!formIsValid())" (click)="onSubmit();" matTooltip="Save" [matTooltipShowDelay]="500"><mat-icon>save</mat-icon></button>
    <button style="margin-left:6px;" mat-raised-button color="accent" mat-dialog-close matTooltip="Cancel" [matTooltipShowDelay]="500"><mat-icon>cancel</mat-icon></button>
  </mat-dialog-actions>

</form>
