.root-container {
  top: 3rem;
  height: calc(100vh - 3rem);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr auto;
  position: relative;
}

mat-sidenav {
  height: calc(100vh - 3rem);
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-sidenav-content {
  height: calc(100vh - 3rem);
  padding: 0px 6px 0px 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fixed-topnav {
  width: 100vw;
}

.mat-nav-list {
  margin-top: 2.5em;
}

/* Menu items that are routed */
.active {
  font-weight: bold;
}

.version-info {
  font-size: 8pt;
  padding: 8px;
  align-self: flex-end;
}

.topButton {
  position: fixed;
  bottom: 16px;
  right: 40px;
  z-index: 100;
}

.goBack {
  position: fixed;
  bottom: 60px;
  right: 40px;
  z-index: 100;
}

.mat-mdc-card-subtitle {
    width: max-content;
}
