<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
    <mat-card-title>Devices</mat-card-title>
    <mat-card-subtitle>Device maintenance</mat-card-subtitle>
    <div align="right" style="width: 100%; margin: auto;">
      <button mat-mini-fab color="primary" (click)="goBack();" matTooltip="Previous" [matTooltipShowDelay]="500"><mat-icon>arrow_back</mat-icon></button>
      <button mat-mini-fab color="primary" [disabled]="(getItemCount() <= 1)" (click)="onFilter();" matTooltip="Filter" [matTooltipShowDelay]="500"><mat-icon>filter_list</mat-icon></button>
      <button mat-mini-fab color="primary" [disabled]="(selectedRow == null)" routerLink="/Devices/{{selectedRowNumber}}/DeviceLogs" matTooltip="Log" [matTooltipShowDelay]="500"><mat-icon>message</mat-icon></button>
      <button mat-mini-fab color="primary" [disabled]="(selectedRow == null)" routerLink="/Devices/{{selectedRowNumber}}/Values" matTooltip="Related Values" [matTooltipShowDelay]="500"><mat-icon>pageview</mat-icon></button>
      <button mat-mini-fab color="primary" (click)="onNew();" matTooltip="New" [matTooltipShowDelay]="500"><mat-icon>add</mat-icon></button>
      <button mat-mini-fab color="primary" [disabled]="(selectedRow == null)" (click)="onEdit();" matTooltip="Edit" [matTooltipShowDelay]="500"><mat-icon>edit</mat-icon></button>
      <button mat-mini-fab color="accent"  [disabled]="(selectedRow == null)" (click)="onDelete();" matTooltip="Delete" [matTooltipShowDelay]="500"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="DeviceID">
        <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
        <mat-cell *matCellDef="let device">{{device.DeviceID}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let device">{{device.Name}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="InternalID">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Internal ID</mat-header-cell>
        <mat-cell *matCellDef="let device">{{device.InternalID}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
        <mat-cell *matCellDef="let device">{{device.Address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Debug">
        <mat-header-cell *matHeaderCellDef style="justify-content:center;" mat-sort-header>Debug</mat-header-cell>
        <mat-cell *matCellDef="let device" style="justify-content:center;"><mat-icon>{device.Debug, plural, =1 {bug_report}}</mat-icon></mat-cell>
      </ng-container>

      <ng-container matColumnDef="Enabled">
        <mat-header-cell *matHeaderCellDef style="justify-content:center;" mat-sort-header>Enabled</mat-header-cell>
        <mat-cell *matCellDef="let device" style="justify-content:center;"><mat-icon>{device.Enabled, plural, =1 {check_circle} other {highlight_off}}</mat-icon></mat-cell>
      </ng-container>

      <ng-container matColumnDef="Active">
        <mat-header-cell *matHeaderCellDef style="justify-content:center;" mat-sort-header>Active</mat-header-cell>
        <mat-cell *matCellDef="let device" style="justify-content:center;"><mat-icon>{device.Active, plural, =1 {check_circle} other {highlight_off}}</mat-icon></mat-cell>
      </ng-container>

      <ng-container matColumnDef="Timestamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</mat-header-cell>
        <mat-cell *matCellDef="let device">{{device.Timestamp}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></mat-header-row>

      <mat-row matRipple *matRowDef="let row; columns: tableColumns; "
               (click)="(selectedRow == row) ? selectedRow = null : selectedRow = row; selectedRowNumber = row.DeviceID;"
               (dblclick)="selectedRow = row; selectedRowNumber = row.DeviceID; onEdit();"
               (keyup.enter)="onEdit();"
               [style.background]="selectedRow == row ? 'lightblue' : ''">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[100, 10000, 1000, 500, 50, 10]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
