:host {
  width: 100%;
  margin: 12px auto auto auto;
}

.mat-row:hover {
  background-color: lightgray;
  border-radius: 4px;
}

.mat-card-subtitle {
  display: block;
  margin-bottom: 0px;
  min-width: 130px;
}

.mat-column-DeviceID {
  flex: 0 0 50px !important;
  width: 50px !important;
}

.mat-column-Debug {
  flex: 0 0 75px !important;
  width: 75px !important;
}

.mat-column-Enabled {
  flex: 0 0 75px !important;
  width: 75px !important;
}

.mat-column-Active {
  flex: 0 0 75px !important;
  width: 75px !important;
}
