<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
    <mat-card-title>Value Timers</mat-card-title>
    <mat-card-subtitle>Value Timer maintenance</mat-card-subtitle>
    <div align="right" style="width: 100%; margin: auto;">
      <button mat-mini-fab color="primary" (click)="goBack();" matTooltip="Previous" [matTooltipShowDelay]="500"><mat-icon>arrow_back</mat-icon></button>
      <button mat-mini-fab color="primary" [disabled]="(getItemCount() <= 1)" (click)="onFilter();" matTooltip="Filter" [matTooltipShowDelay]="500"><mat-icon>filter_list</mat-icon></button>
      <button mat-mini-fab color="primary" (click)="onNew();" matTooltip="New" [matTooltipShowDelay]="500"><mat-icon>add</mat-icon></button>
      <button mat-mini-fab color="primary" [disabled]="(selectedRow == null)" (click)="onEdit();" matTooltip="Edit" [matTooltipShowDelay]="500"><mat-icon>edit</mat-icon></button>
      <button mat-mini-fab color="accent" [disabled]="(selectedRow == null)" (click)="onDelete();" matTooltip="Delete" [matTooltipShowDelay]="500"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="ValueTimerID">
        <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
        <mat-cell *matCellDef="let value">{{value.ValueTimerID}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let value">{{value.Name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="DayMask">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Day Mask</mat-header-cell>
        <mat-cell *matCellDef="let value">{{value.DayMask}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Sunrise">
        <mat-header-cell *matHeaderCellDef style="justify-content:center;" mat-sort-header>Sunrise</mat-header-cell>
        <mat-cell *matCellDef="let value" style="justify-content:center;"><mat-icon>{value.Sunrise, plural, =1 {wb_sunny}}</mat-icon></mat-cell>
      </ng-container>

      <ng-container matColumnDef="Sunset">
        <mat-header-cell *matHeaderCellDef style="justify-content:center;" mat-sort-header>Sunset</mat-header-cell>
        <mat-cell *matCellDef="let value" style="justify-content:center;"><mat-icon>{value.Sunset, plural, =1 {wb_sunny}}</mat-icon></mat-cell>
      </ng-container>

      <ng-container matColumnDef="RunTime">
        <mat-header-cell *matHeaderCellDef style="justify-content:center;" mat-sort-header>RunTime</mat-header-cell>
        <mat-cell *matCellDef="let value" style="justify-content:center;">{{value.RunTime}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Random">
        <mat-header-cell *matHeaderCellDef style="justify-content:center;" mat-sort-header>Random Minutes</mat-header-cell>
        <mat-cell *matCellDef="let value" style="justify-content:center;">{{value.Random}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></mat-header-row>

      <mat-row matRipple *matRowDef="let row; columns: tableColumns; "
               (click)="(selectedRow == row) ? selectedRow = null : selectedRow = row; selectedRowNumber = row.ValueID;"
               (dblclick)="selectedRow = row; selectedRowNumber = row.ValueID; onEdit();"
               [style.background]="selectedRow == row ? 'lightblue' : ''">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[100, 10000, 1000, 500, 50, 10]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
