:host {
  width: 100%;
  margin: 12px auto auto auto;
}

.mat-row:hover {
  background-color: lightgray;
  border-radius: 4px;
}

.mat-card-subtitle {
  display: block;
  margin-bottom: 0px;
  min-width: 120px;
}

.mat-column-TileID {
  flex: 0 0 50px !important;
  width: 50px !important;
}

.mat-column-TabID {
  flex: 0 0 100px !important;
  width: 100px !important;
}
